<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test Suite">
    <listeners>
        <listener class-name="Listeners.TestNGExtentReport" />
    </listeners>
    <test name="Weather App Tests">
        <classes>
            <class name="tests.Testcases" />
        </classes>
    </test>
</suite>